/* reset */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Rubik', sans-serif;
    background: #FFFFEA;
    background-size: 20px 20px;
    background-image: linear-gradient(to right, #e9f0f0 1px, transparent 1px), linear-gradient(to bottom, #e9f0f0 1px, transparent 1px);
}

.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 4rem;
    height: 4rem;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 2rem;
    border: 3px solid #1a1a1a;
    background: #fefefe;
    transform: rotate(90deg);
    z-index: 2;
}

.menuButton:hover {
    cursor: pointer;
}

.menuButton__line {
    font-size: 3rem;
    color: #1a1a1a;
    transform: rotate(45deg);
}

.switch__line-off {
    animation-name: line-off;
    animation-duration: .6s;
    animation-fill-mode: both;
}

.switch__line-on {
    animation-name: line-on;
    animation-duration: .6s;
    animation-fill-mode: both;
}

.menuButton__switch-off {
    animation-name: button;
    animation-duration: .6s;
    animation-fill-mode: both;
}

.menuButton__switch-on {
    animation-name: button-on;
    animation-duration: .6s;
    animation-fill-mode: both;
}

@keyframes line-off {
    from {
        transform: rotate(135deg);
        color: #efefef;
    }

    to {
        transform: rotate(45deg);
        color: #1a1a1a;
    }
}

@keyframes line-on {
    from {
        transform: rotate(45deg);
        color: #1a1a1a;
    }

    to {
        transform: rotate(135deg);
        color: #fff;
    }
}

@keyframes button {
    from {
        background-color: #1a1a1a;
        border-color: #fefefe;
    }

    to {
        background-color: #fefefe;
        border-color: #1a1a1a;
    }
}

@keyframes button-on {
    from {
        background-color: #fefefe;
        border-color: #1a1a1a;
    }

    to {
        background-color: #1a1a1a;
        border-color: #fefefe;
    }
}

.main__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #8B7871;
    transform: translateX(-100%);
    padding: 2rem;
    font-size: 1.1rem;
    z-index: 1;
}

.main__menu-on {
    animation-name: menu-on;
    animation-duration: .6s;
    animation-fill-mode: both;
}

.main__menu-off {
    animation-name: menu-off;
    animation-duration: .6s;
    animation-fill-mode: both;
}

@keyframes menu-on {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes menu-off {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.article_hero {
    position: sticky;
    top: 0;
    left: 0;
}

.article__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main__list {
    width: 100%;
    max-width: 1100px;
}

.article__list {
    width: 100%;
    max-width: 1100px;
}

.main__list,
.article__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 10px;
}

.main__item {
    width: 250px;
    height: 200px;
    margin: 8px;
}

.main__item,
.article__item {
    list-style: none;
}

.main__link,
.article__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 10px;
    transition: background-color .2s linear;
}

.main__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid black;
    text-transform: none;
}

.main__link:hover,
.article__link:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.strong__header {
    text-transform: uppercase;
}

.article__list {
    background: #ffa07a;
}

.article__list::after {
    content: "\25BA";
    display: block;
    font-size: 2rem;
    margin-left: 30px;
    transform: rotate(180deg);
    animation: heroHeader 1s linear 1.5s infinite alternate both;
}

.article {
    font-size: 1.2rem;
}

.hero {
    background: rgb(78, 204, 111);
    background: -moz-radial-gradient(circle, rgba(78, 204, 111, 1) 0%, rgba(255, 255, 255, 0) 62%);
    background: -webkit-radial-gradient(circle, rgba(78, 204, 111, 1) 0%, rgba(255, 255, 255, 0) 62%);
    background: radial-gradient(circle, rgba(78, 204, 111, 1) 0%, rgba(255, 255, 255, 0) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4ecc6f", endColorstr="#ffffff", GradientType=1);
}

.hero__header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    padding: 40px;
    text-align: center;
    animation: 200ms 500ms linear both heroHeader;
    margin: 0;
}

.hero__header::after {
    content: " </>";
    margin: 20px;
    transform: rotate(15deg);
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main__text,
.article__paragraph {
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.main__header,
.article__header {
    text-align: center;
    margin: 20px 20px;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    scroll-behavior: smooth;
}

.section {
    padding-top: 86px;
    margin-bottom: 40px;
}


.section__header {
    margin: 10px 0;
}

.section__paragraph,
.card__paragraph {
    margin: 10px 0;
}

.section__list,
.card__list {
    margin: 10px 10px 10px 30px;
}

.section__code,
.card__code {
    display: inline-block;
    margin: 10px;
    background: #C0D3D3;
    padding: 10px;
}

.card {
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.card__header {
    color: #4ECC6F;
}

.image {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
}

.section__paragraph.section__paragraph-position {
    text-align: center;
}

.wrong {
    color: red;
}

.footer {
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    background: #8B7871;
}

.table {
    width: 99%;
    border: 1px solid black;
    margin: 20px auto;
    text-align: center;
    border-collapse: collapse;
}

.table__caption {
    text-align: center;
    border: 1px solid black;
    background: #BFBFB0;
    padding: 10px;
}

.table__cell {
    padding: 10px;
}

.table__cell:nth-child(1) {
    border-right: 1px solid black;
}

.table__head .table__cell {
    border: 1px solid black;
}

.table__cell.table__cell--truthy {
    background: #B2CCA7;
}

.table__cell.table__cell--falsy {
    background: #A7A9CC;
}

@keyframes heroHeader {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}