/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background: #fefefe;
}

.nav {
    position: sticky;
    left: 0;
    top: 0;
    padding: 10px 0;
    background: #fefefe;
    z-index: 1;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin: 10px;
}

.nav__item {
    list-style: none;
}

.nav__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 10px;
    transition: .2s;
}

.nav__link:hover {
    color: #fefefe;
    background: black;
}

.hero {
    position: relative;
    top: 0;
    left: 0;
}

.hero__header {
    font-size: 3rem;
    padding: 40px;
    text-align: center;
    animation: 200ms 500ms linear both heroHeader;
}

.heroArticle .nav {
    position: static;
    top: 0;
    left: 0;
}

.heroArticle .nav__list {
    background: lightsalmon;
}

.heroArticle__text {
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.content__h2 {
    text-align: center;
    margin: 20px 20px;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    scroll-behavior: smooth;
}

.content__h3 {
    margin: 10px 0;
}

.paragraph__text {
    margin: 10px 0;
}

.section {
    padding-top: 70px;
}

.section__list {
    margin: 10px 10px 10px 30px;
}

.content__code {
    display: inline-block;
    margin: 10px;
    background: lightskyblue;
}

.footer {
    padding: 20px;
    text-align: center;
    font-size: 2rem;
}

.content__h4 {
    color: cadetblue;
}

.image {
    display: block;
    margin: 10px auto;
}

.paragraph__text.paragraph__text-position {
    text-align: center;
}

@keyframes heroHeader {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}